<!DOCTYPE html>
<html>
{{> head}}

<body>
    {{> header}}<br><br>
    <div class="container">
        <table class="table table-striped" id="mytable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type of Leave</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ typeofleave }}</td>
                    <td>{{ startdate }}</td>
                    <td>{{ enddate }}</td>
                    <td>{{ reason }}</td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-sm btn-info approve" data-id="{{ id }}">Approve</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id }}">Reject</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Modal Delete Product-->
    <form id="add-row-form" action="/reject" method="post">
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Reject Leave</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong>Are you sure want to reject this leave?</strong>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="form-control id2" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            //showing delete record modal
            $('#mytable').on('click', '.delete', function () {
                var id = $(this).data('id');
                $('#DeleteModal').modal('show');
                $('.id2').val(id);
            });

        });
    </script>

    {{> footer}}
</body>

</html>